header {
  //scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.element {
  margin: 0.5em 4em;
  transition: color 0.3s ease;
  cursor: pointer;
  align-items: center;
  display: flex;
}
.element a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}
.element a:hover {
  color: var(--text-color-hover);
}
.element:hover {
  color: var(--text-color-hover);
}
h1 {
  padding: 1em;
  font-size: 0.75em;
  color: var(--text-color-hover);
}

