header {
  scroll-snap-align: start;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.element {
  margin: 0.5em 4em;
  transition: color 0.3s ease;
  cursor: pointer;
  align-items: center;
  display: flex;
}
.element a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}
.element a:hover {
  color: var(--text-color-hover);
}
.element:hover {
  color: var(--text-color-hover);
}
h1 {
  padding: 1em;
  font-size: 0.75em;
  color: var(--text-color-hover);
}


@media (max-width: 600px) {
  header {
    flex-direction: column; /* Flex-Direction ändern, um Elemente untereinander anzuordnen */
  }

  .element {
    margin: 0.5em 0; /* Margin weiter reduzieren für schmale Bildschirme */
    justify-content: center; /* Zentriert die Elemente */
  }

  h1 {
    font-size: 1.2em; /* Schriftgröße anpassen, falls nötig */
  }
}
