:root {
  --background-color: #121212;
  --header-background-color: #1F1F1F;
  --text-color: #E0E0E0;
  --text-color-hover: #FFFFFF;
  --text-color-input: #FFFFFF;
  --button-background-hover: #0056b3;
  --button-text: #E0E0E0;

  --primary-color: #BB86FC;
  --secondary-color: #005050;
}

[data-theme='light'] {
  --background-color: #FFFFFF;
  --header-background-color: #F5F5F5;
  --text-color: #212121;
  --text-color-hover: #000000;
  --text-color-input: #000000;
  --button-background-hover: #0056b3;
  --button-text: #E0E0E0;

  --primary-color: #BB86FC;
  --secondary-color: #005050;
}
