:root {
  --background1: #f1faee; // fade left
  --background2: #a8dadc; // fade right

  --text-color-input: #344966; // input
  --background-color: #f0f4ef; // input background, github linkedin logos

  --text-color-h1: #0d1821; // h1, header hover
  --text: #344966; // sonstiger text

  --button-background-hover: #344966; // button hover
  --button-text: #FFFFFF; // button text
}

[data-theme='light'] {
  --background1: #0d1821; // fade left
  --background2: #344966; // fade right

  --text-color-input: #fcfafa; // input
  --background-color: #084c61; // input background, github linkedin logos, workfield

  --text-color-h1: #fcfafa; // h1, header hover
  --text: #c8d3d5; // sonstiger text

  --button-background-hover: #c8d3d5; // button hover
  --button-text: #FFFFFF; // button text
}

/*
[data-theme='dasd'] {
  --background1: #f1faee;
  --background2: #a8dadc;
  --background-color: #FFFFFF;
  --header-background-color: #F5F5F5;
  --text-color-h1: #212121;
  --text-color-hover: #000000;
  --text-color-input: #000000;
  --button-background-hover: #0056b3;
  --button-text: #E0E0E0;
}*/
