<div class="content">
  <div class="sudoku">
    <table class="board">
      <tbody>
      <tr *ngFor="let row of matrix; let i = index">
        <td *ngFor="let cell of row; let j = index">
          <input
            type="text"
            [value]="cell > 0 ? cell : ''"
            (input)="editMatrixManually($event, i, j)"
          />
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <button *ngIf="!solvingInProgress" (click)="solve()">Solve!</button>
      <button *ngIf="solvingInProgress" (click)="stopSolving()">Stop</button>
      <button *ngIf="!isBoardEmpty" (click)="clearBoard()" [disabled]="solvingInProgress">Clear</button>
      <button *ngIf="isBoardEmpty" (click)="clearBoard()">Generate Board</button>

      <select *ngIf="!isBoardEmpty" (change)="changeSpeed($event)">
        <option value="1">Fast</option>
        <option value="100">Slow</option>
        <option value="500">Slow Motion</option>
      </select>

      <select *ngIf="isBoardEmpty" (change)="changeSpeed($event)">
        <option value="A">Easy</option>
        <option value="B">Mid</option>
        <option value="C">Hard</option>
      </select>
    </div>
  </div>


  <div class="stats">
    <h1>Tactics</h1>
    <div class="option" *ngFor="let option of options; let i = index">
      <input
        type="radio"
        name="tactics"
        [id]="'option' + i"
        [checked]="option.active"
        (change)="selectOption(option)" />
      <label [for]="'option' + i">
        {{ option.name }}
        <span class="info" title="{{ option.info }}">ℹ️</span>
      </label>
    </div>

    <h1>Info</h1>
    <div *ngIf="selectedOption?.name === 'Simulated Annealing'">
      Best Cost (Simulated Annealing): {{ bestCostSimulatedAnnealing }}
    </div>

  </div>


</div>
