<div class="content">
  <div class="sudoku">
    <table class="board">
      <tbody>
      <tr *ngFor="let row of currentMatrix; let i = index">
        <td *ngFor="let cell of row; let j = index">
          <input
            type="text"
            [value]="cell > 0 ? cell : ''"
            (input)="editMatrixManually($event, i, j)"
          />
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <button *ngIf="!solvingInProgress" (click)="solve()">Solve!</button>
      <button *ngIf="solvingInProgress" (click)="stopSolving()">Stop</button>
      <button (click)="clearBoard()" [disabled]="solvingInProgress">Clear Progress</button>
      <button (click)="pickRandomBoard()" [disabled]="solvingInProgress"><i class="fa-solid fa-rotate-right"></i>
      </button>

      <div>
        <label for="speedRange">Speed (ms delay): {{ speed }}</label>
        <input
          id="speedRange"
          type="range"
          min="0"
          max="500"
          [value]="speed"
          (input)="changeSpeed($event)"
          [disabled]="solvingInProgress"
        />
      </div>

    </div>
  </div>


  <div class="stats">
    <h1>Tactics</h1>
    <div class="option" *ngFor="let option of options; let i = index">
      <input
        type="radio"
        name="tactics"
        [id]="'option' + i"
        [checked]="option.active"
        (change)="selectOption(option)"/>
      <label [for]="'option' + i">
        {{ option.name }}
        <span class="info" title="{{ option.info }}">ℹ️</span>
      </label>
    </div>

    <div *ngIf="selectedOption === 'Simulated Annealing'">
      <h1>
        <span *ngIf="bestCostSimulatedAnnealing === 0">✅</span>
        <span *ngIf="bestCostSimulatedAnnealing > 0">❌</span>
        Current Violations: {{ bestCostSimulatedAnnealing }} </h1>
    </div>
    <div *ngIf="selectedOption === 'Brute Force'">
      <h1>
        Number of Recursions: {{ recursiveCallsBruteForce }}
      </h1>
    </div>

    <div class="info-text" *ngIf="getSelectedOptionText()">
      <p *ngFor="let line of getSelectedOptionText().split('\n')">
        {{ line }}
      </p>


    </div>


  </div>
</div>
