
<div class="scrolls">
  <div class="up">
    <span>↑</span>
  </div>
  <div class="center">
    <span>mouse <br> scrolling</span>
  </div>
  <div class="down">
    <span>↓</span>
  </div>
</div>

<div class="smooth">
  <section class="snap-section hero" *ngFor="let section of homePageContent; let i = index" [ngClass]="{'reverse': i % 2 !== 0}">
    <div class="hero-content">
      <h1>{{ section.title }}</h1>
      <p>{{ section.subtitle }}</p>
      <button routerLink="/notFound" routerLinkActive="active" class="learn-more">Learn More</button>
    </div>
    <div class="hero-image">
      <img [src]="section.image" alt="Hero Bild">
    </div>
  </section>

</div>

