/* Container für das Scrollen */
h2{
  font-size: 3em;
  background: linear-gradient(to right, darkgreen, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.smooth {
  position: relative;
  width: 100%;
  height: 100vh; /* Vollbildhöhe */
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* Snap-Scrolling aktivieren */
}

/* Abschnitte, die gesnappt werden sollen */
.snap-section {
  padding: 8em;
  scroll-behavior: smooth; /* Sanftes Scrollen aktivieren */
  height: 100vh; /* Jeder Abschnitt hat die Höhe des Viewports */
  scroll-snap-align: start; /* Abschnitte "snappen" an den oberen Rand */
  scroll-snap-stop: always; /* Stoppen des Scrollens bei jedem Abschnitt */
}

/* Beispiel für die Hero-Sektion */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  max-width: 50%;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

img {
  border-radius: 15px;
  height: 30em;
  width: 30em;
}

video {
  border-radius: 15px;
  height: 30em;
  width: 15em;
}

.reverse {
  flex-direction: row-reverse;
}

.learn-more {
  position: relative;
  transition: all 0.2s linear 0s;
}

.learn-more:before {
  content: "\f178"; /* Pfeil aus FontAwesome */
  font-family: FontAwesome;
  position: absolute;
  display: flex;
  align-items: center;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.2s linear 0s;
}

.learn-more:hover {
  text-indent: -0.5em;
}

.learn-more:hover:before {
  opacity: 1;
  right: 0.5em;
}

/* Globale Einstellungen */
*,
::before,
::after {
  box-sizing: border-box;
}

.image-with-bg {
  background-color: transparent;
}



