<div class="scrolls">
  <div class="up">
    <span>↑</span>
  </div>
  <div class="center">
    <span>mouse <br> scrolling</span>
  </div>
  <div class="down">
    <span>↓</span>
  </div>
</div>

<div class="smooth">
  <section class="snap-section hero" *ngFor="let section of homePageContent; let i = index" [ngClass]="{'reverse': i % 2 !== 0}">
    <div class="hero-content">
      <h1>{{ section.title }}</h1>
      <p>{{ section.subtitle }}</p>
      <button routerLink="{{ section.link }}" routerLinkActive="active" class="learn-more">Learn More</button>
    </div>
    <div class="hero-image">
      <!-- Bedingte Anzeige: Video oder Bild -->
      <ng-container *ngIf="isVideo(section.image); else imageTemplate">
        <video autoplay muted loop>
          <source src="assets/videos/myJourney.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </ng-container>
      <ng-template #imageTemplate>
        <img [src]="section.image" alt="Hero Bild">
      </ng-template>
    </div>
  </section>
</div>

