.snap-section {
  padding: 8em;
  scroll-behavior: smooth;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header-background-color);
}
.hero-content {
  max-width: 50%;
}
h1 {
  font-size: 4em;
}
p {
  font-size: 1.5em;
}
img {
  border-radius: 15px;
  height: 30em;
  width: 30em;
}
.reverse {
  flex-direction: row-reverse;
}

.learn-more {
  position: relative;
  transition: all 0.2s linear 0s;
}

.learn-more:before {
  content: "\f178";
  font-family: FontAwesome;
  position: absolute;
  display: flex;
  align-items: center;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.2s linear 0s;
}

.learn-more:hover {
  text-indent: -0.5em;
}

.learn-more:hover:before {
  opacity: 1;
  right: 0.5em;
}
