<div class="smooth">

  <section class="snap-section">
    <div class="content">
      <h1>Let's Discuss Technology</h1>
      <p>Are you interested in talking about a project or learning more about what I do? I'd be happy to hear from
        you.</p>
      <p>Get in touch to begin a conversation and discover how we can work together on future tech solutions.</p>
    </div>
  </section>

  <section class="snap-section">
    <div class="content">


        <h1>Contact Information</h1>
        <div>
          <p><i class="fa-solid fa-envelope"></i> chrisztlr&#64;gmail.com</p>
          <p><i class="fa-solid fa-location-dot"></i> vienna, austria</p>
        </div>

        <div class="badges">

            <div class="trapdoor-linkedin badges">
              <div class="top-linkedin door-linkedin"></div>
              <div class="bottom-linkedin door-linkedin"></div>
              <a href="https://www.linkedin.com/in/christoph-zeitler-338a64247/" class="linkedin-button">Connect</a>
            </div>

            <div class="trapdoor-github badges">
              <div class="top-github door-github"></div>
              <div class="bottom-github door-github"></div>
              <a href="https://github.com/chr15z/" class="github-button">Follow</a>
            </div>

        </div>


    </div>


  </section>

  <section class="snap-section">
    <div class="content">
      <h1>Send an Email</h1>

      <form class="contact-form">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Your name">

        <label for="email">Email</label>
        <input type="email" id="email" placeholder="your.email@example.com">

        <label for="subject">Subject</label>
        <input type="text" id="subject" placeholder="What's this about?">

        <label for="message">Message</label>
        <textarea id="message" rows="4" placeholder="Your message..."></textarea>

        <button type="submit">Send Message</button>
      </form>
    </div>
  </section>

</div>

