<footer>
  <div class="element">
    <a href="https://github.com/chr15z/"><i class="fa-brands fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/christoph-zeitler-338a64247/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
  </div>

  <div class="element">
    <h1>Join the Newsletter!</h1>
    <input placeholder="Name">
    <input placeholder="E-Mail">
    <button>Send</button>
  </div>

  <div class="element">
    <p>&copy; 2024 Your Name. All rights reserved.</p>
  </div>
</footer>
