footer {
  scroll-snap-align: end;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.element {
   color: var(--text-color);
   transition: color 0.3s ease;
   align-items: center;
   display: flex;
   margin: 0.5em 2em;
 }
.element a {
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5em;
 }
.element a:hover {
  color: var(--text-color-hover);
}
h1 {
  padding: 1em;
  font-size: 0.75em;
  color: var(--text-color-hover);
}
input {
  border: 1px solid var(--text-color-hover);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: var(--text-color);
  color: var(--text-color-hover);
}
button {
  border: 1px solid var(--text-color-hover);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: var(--text-color);
  color: var(--text-color-hover);
  cursor: pointer;
}
button:hover {
  background-color: var(--text-color-hover);
  color: var(--text-color);
}

button:active {
  background-color: var(--button-active-background-color);
  color: var(--button-active-text-color);
  scale: 1.1;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  input, button {
    width: 100%; /* Breite auf 100% setzen */
    margin: 0.5em 0; /* Margin anpassen für mobile Bildschirme */
  }
  .element {
    margin: 0;
  }
}
