<footer (mouseenter)="toggleBlur(true)" (mouseleave)="toggleBlur(false)">
  <div class="element">
    <div class="trapdoor-linkedin">
      <div class="top-linkedin door-linkedin"></div>
      <div class="bottom-linkedin door-linkedin"></div>
      <a href="https://www.linkedin.com/in/christoph-zeitler-338a64247/" class="linkedin-button">Connect</a>
    </div>

    <div class="trapdoor-github">
      <div class="top-github door-github"></div>
      <div class="bottom-github door-github"></div>
      <a href="https://github.com/chr15z/" class="github-button">Follow</a>
    </div>
  </div>

  <div class="element">
    <h1>Join the Newsletter!</h1>
    <input placeholder="Name">
    <input placeholder="E-Mail">
    <button>Send</button>
  </div>

  <div class="element">
    <p>&copy; 2024 Christoph Zeitler. All rights reserved.</p>
  </div>
</footer>
