footer {
  scroll-snap-align: end;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.element {
  color: var(--text-color);
  transition: color 0.3s ease;
  align-items: center;
  display: flex;
  margin: 0.5em 2em;
}

h1 {
  padding: 1em;
  font-size: 0.75em;
  color: var(--text-color-hover);
}

input {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  margin: 0.5em;

  background-color: var(--background-color);
  color: var(--text-color-input);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
}

button {
  padding: 0.5em 1em;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  input, button {
    width: 100%; /* Breite auf 100% setzen */
    margin: 0.5em 0; /* Margin anpassen für mobile Bildschirme */
  }
  .element {
    margin: 0;
  }
}


//linkedin icon
.trapdoor-linkedin {
  margin: 0 0.5em;
  -webkit-transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
  width: 100px;
  height: 50px;
  box-shadow: inset -7px 0px 12px -8px rgba(0, 0, 0, 0.3), inset 7px 0px 12px -8px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -ms-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}

.trapdoor-linkedin:hover {
  background: var(--primary-color); /* LinkedIn brand color */

  .door-linkedin {
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
  }

  .top-linkedin {
    top: -50%;
  }

  .bottom-linkedin {
    top: 100%;
  }
}

.linkedin-button {
  position: absolute !important;
  text-decoration: none;
  font-size: 16px;
  color: var(--header-background-color); /* Text color on LinkedIn button */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-linkedin {
  top: 0%;
  left: 0px;

  &:before {
    top: 5px;
    content: "\f08c"; /* FontAwesome LinkedIn icon */
    font-family: 'FontAwesome';
    font-size: 24px;
    color: var(--header-background-color); /* Icon color */
  }
}

.bottom-linkedin {
  top: 50%;
  left: 0px;

  &:before {
    top: -20px;
  }
}

.door-linkedin {
  -webkit-transition: top 400ms, box-shadow 200ms, -webkit-transform 300ms;
  -moz-transition: top 400ms, box-shadow 200ms, -moz-transform 300ms;
  -ms-transition: top 400ms, box-shadow 200ms, -ms-transform 300ms;
  -o-transition: top 400ms, box-shadow 200ms, -o-transform 300ms;
  transition: top 400ms, box-shadow 200ms, transform 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #0077b5; /* LinkedIn brand color */
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  height: 50%;

  &:before {
    font-family: 'FontAwesome';
    position: absolute;
    margin-left: -20px;
    font-size: 35px;
    display: block;
    color: var(--header-background-color); /* Icon color */
    content: "\f08c"; /* FontAwesome LinkedIn icon */
    width: 0px;
    height: 20px;
    left: 52%;
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


//github

.trapdoor-github {
  margin: 0 0.5em;
  -webkit-transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
  width: 100px;
  height: 50px;
  box-shadow: inset -7px 0px 12px -8px rgba(0, 0, 0, 0.3), inset 7px 0px 12px -8px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -ms-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}

.trapdoor-github:hover {
  background: var(--text-color);

  .door-github {
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
  }

  .top-github {
    top: -50%;
  }

  .bottom-github {
    top: 100%;
  }
}

.github-button {
  position: absolute !important;
  text-decoration: none;
  font-size: 16px;
  color: var(--header-background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-github {
  top: 0%;
  left: 0px;

  &:before {
    top: 5px;
    content: "\f09b"; /* FontAwesome GitHub icon */
    font-family: 'FontAwesome';
    font-size: 24px;
    color: var(--header-background-color);
  }
}

.bottom-github {
  top: 50%;
  left: 0px;

  &:before {
    top: -20px;
  }
}

.door-github {
  -webkit-transition: top 400ms, box-shadow 200ms, -webkit-transform 300ms;
  -moz-transition: top 400ms, box-shadow 200ms, -moz-transform 300ms;
  -ms-transition: top 400ms, box-shadow 200ms, -ms-transform 300ms;
  -o-transition: top 400ms, box-shadow 200ms, -o-transform 300ms;
  transition: top 400ms, box-shadow 200ms, transform 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: var(--text-color);
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  height: 50%;

  &:before {
    font-family: 'FontAwesome';
    position: absolute;
    margin-left: -20px;
    font-size: 35px;
    display: block;
    color: var(--header-background-color);
    content: "\f09b"; /* FontAwesome GitHub icon */
    width: 0px;
    height: 20px;
    left: 52%;
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



//error

.toast {
  background: #F5F5F5;
  color: #f5f5f5;
  padding: 1rem 2rem 1rem 3rem;
  border-radius: 1rem;
  position: relative;
  font-weight: 300;
  margin: 1rem 0;
  text-align: left;
  transition: var(--tr);
  opacity: 1;
  border: 0.15rem solid var(--clr);
  box-shadow: 0 0 1.5rem 0 #1a1f4360;
}

.toast:before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: calc(100% - 1.5rem);
  top: 0.75rem;
  left: 0.5rem;
  z-index: 0;
  border-radius: 1rem;
  background: var(--clr);
}

.toast-item {
  position: fixed;
  top: 2em;
  right: 10px;
}

.toast h3 {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.35rem;
  font-weight: 600;
  position: relative;
  color: var(--clr);
}

.toast p {
  position: relative;
  font-size: 0.95rem;
  z-index: 1;
  margin: 0.25rem 0 0;
  color: #595959;
  line-height: 1.3rem;
}

.toast-item {
  --clr: #db3056;
  --brd: #db305640;
}
.close:hover {
  background: var(--header-background-color);
  cursor: pointer;
}
