<div class="smooth">
  <section class="snap-section">
    <div class="content">
      <h1>Tech Stack</h1>
      <p>
        A selection of technologies I’ve used across my projects.
      </p>

      <div class="tech-items">
        <div class="work-item tech-item" *ngFor="let tech of techStack">
          <img [src]="tech.image" [alt]="tech.title + ' Logo'" class="img-tech">

          <span class="tech-title">{{ tech.title }}</span>

          <div class="tech-info">
            <div class="tech-category" *ngIf="tech.category">{{ tech.category }}</div>
            <ul>
              <p *ngFor="let bullet of tech.bullets">{{ bullet }}</p>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="snap-section">
    <div class="content">


      <h1>Contact Information</h1>
      <div>
        <p><i class="fa-solid fa-envelope"></i> chrisztlr&#64;gmail.com</p>
        <p><i class="fa-solid fa-location-dot"></i> vienna, austria</p>
      </div>

      <div class="badges">

        <div class="trapdoor-linkedin">
          <div class="top-linkedin door-linkedin"></div>
          <div class="bottom-linkedin door-linkedin"></div>
          <a href="https://www.linkedin.com/in/christoph-zeitler-338a64247/" class="linkedin-button">Connect</a>
        </div>

        <div class="trapdoor-github">
          <div class="top-github door-github"></div>
          <div class="bottom-github door-github"></div>
          <a href="https://github.com/chr15z/" class="github-button">Follow</a>
        </div>

      </div>


    </div>


  </section>
</div>
