<div class="smooth">
  <section class="snap-section">
    <div class="content">
      <h1>Tech Stack</h1>
      <p>
        A selection of technologies I’ve used across projects, internships, and coursework.
      </p>

      <div class="tech-items">
        <div class="work-item tech-item" *ngFor="let tech of techStack">
          <img [src]="tech.image" [alt]="tech.title + ' Logo'" class="img-tech">

          <span class="tech-title">{{ tech.title }}</span>

          <div class="tech-info">
            <div class="tech-category" *ngIf="tech.category">{{ tech.category }}</div>
            <ul>
              <li *ngFor="let bullet of tech.bullets">{{ bullet }}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="snap-section">
    <div class="content">
      <h1>Professional Background</h1>
      <p>I started working for Malteser Hilfsdienst during the COVID-19 pandemic, which sparked my deep interest in the healthcare sector.
        Since then, I have continued to engage with healthcare-related projects.
        With experience in software development, project management, and tutoring, I combine technical expertise with organizational skills.
        Many projects in work and outside have given me hands-on experience in backend development, software configuration, and IT support in complex environments.
        As a tutor at TU Vienna, I also actively contribute to teaching and mentoring in programming.</p>
      <div class="work-items">
        <div class="work-item">
          <img src="../../../assets/images/logo-malteser.png" alt="Malteser Logo" class="logo">
          <div class="work-text">
            <span class="title">Working Student | Shift Supervisor</span>
            <span class="university">Malteser Hilfsdienst</span>
            <span class="date">09/2020 - 07/2022</span>
            <ul>
              <li>Management of the Corona Test Station</li>
              <li>Coordination of the day-to-day business</li>
              <li>Responsible for logistics, employees, inventory and more</li>
            </ul>
          </div>
        </div>

        <div class="work-item">
          <img src="../../../assets/images/logo-siemens.png" alt="Siemens Logo" class="logo">
          <div class="work-text">
            <span class="title">Intern | Software Development</span>
            <span class="university">Siemens Healthineers</span>
            <span class="date">07/2024 - 09/2024</span>
            <ul>
              <li>Backend Development in PHP</li>
              <li>PHP Unit / Integration tests with PHPUnit</li>
            </ul>
          </div>
        </div>

        <div class="work-item">
          <img src="../../../assets/images/logo-albertinen.png" alt="Albertinen Logo" class="logo">
          <div class="work-text">
            <span class="title">Intern | Software Configuration & Project Management</span>
            <span class="university">Immanuel Albertinen Diakonie</span>
            <span class="date">07/2023 - 09/2023</span>
            <ul>
              <li>Software and Layout Configuration</li>
              <li>IT support on hospital ward</li>
              <li>Trainings (preparation and follow-up)</li>
            </ul>
          </div>
        </div>


        <div class="work-item">
          <img src="../../../assets/images/logo-tuwien.png" alt="TU Wien Logo" class="logo">
          <div class="work-text">
            <span class="title">Working Student | Tutor in Programming</span>
            <span class="university">Technische Universität Wien</span>
            <span class="date">10/2024 - 09/2025</span>
            <ul>
              <li>Correction of the exercise sheets</li>
              <li>Tutor for the exercise accompanying the lecture</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="snap-section">
    <div class="content">
      <h1>Academic Background</h1>
      <p>I initially pursued a Bachelor's in Business Administration at the University of Augsburg because of my strong interest in economics and business processes.
        Over time, I became increasingly fascinated by technology, IT, and coding, which led me to shift my focus toward the intersection of business and technology.
        This passion drove me to continue my studies in Business Informatics and Computer Science at TU Vienna, where I could deepen my technical expertise while maintaining a strategic perspective.
        Combining both disciplines allows me to approach digital transformation and process optimization from a holistic standpoint, bridging the gap between business needs and technical solutions.</p>
    </div>

    <div class="content">

      <div class="education-items">

      <div class="education-item">
        <img src="../../../assets/images/logo-uniaugsburg.png" alt="Uni Augsburg Logo" class="logo">
        <div class="work-text">
          <span class="title">Bachelor Business Administration</span>
          <span class="university">Universität Augsburg</span>
          <span class="date">Graduation year: 2022</span>
          <ul>
            <li>Oxford Placement Test: C1</li>
          </ul>
        </div>
      </div>

        <div class="education-item">
          <img src="../../../assets/images/logo-tuwien.png" alt="TU Wien Logo" class="logo">
          <div class="work-text">
            <span class="title">Bachelor Computer Science</span>
            <span class="university">Technische Universität Wien</span>
            <span class="date">Completion expected: 2025</span>
            <ul>
              <li>talente.programm</li>
              <li>diversity skills</li>
            </ul>
          </div>
        </div>

    </div>
    </div>
  </section>
</div>
