.hero {
  height: calc(100vh - 8em);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em;
  background: var(--header-background-color);
}
.hero div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
button {
  margin: 2em;
}

