  <div style="height:2em; width: 100%"></div>

  <ul class="tabs">
    <li *ngFor="let tab of tabs" [class.active]="tab.id === activeTabId" (click)="setActiveTab(tab.id)" [attr.data-id]="tab.id">
      {{ tab.title }}
    </li>
  </ul>

  <div style="height:2em; width: 100%"></div>

  <div class="contents">
    <div *ngFor="let tab of tabs" class="box" [class.show]="tab.id === activeTabId" [class.hide]="tab.id !== activeTabId" [attr.data-content]="tab.id">
      <img [src]="tab.imgUrl" alt="">
      <div>
        <h3>{{ tab.title }}</h3>
        <p>{{ tab.content }}</p>
        <a href="{{tab.url}}" target="_blank">
          <button routerLinkActive="active" class="learn-more">{{ tab.button }}</button>
        </a>
      </div>
    </div>
  </div>
