@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.main-content {
  height: calc(100vh - 8em);
  background-color: var(--header-background-color);
}

* {
  padding: 0;
  box-sizing: border-box;
}

.tabs {
  width: 80%;
  height: 3em;
  margin: auto;
  display: flex;
  align-items: center;
}

.tabs li {
  background-color: var(--header-background-color);
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tabs li:hover {
  background: var(--button-background-hover);
  color: var(--button-text);
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.active {
  background: var(--button-background-hover) !important;
  color: var(--button-text) !important;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.contents {
  width: 80%;
  margin: auto;
}

.box {
  gap: 20px;
  background: var(--header-background-color);
  animation: moving 1s ease;
}

.box img {
  padding: 4em;
  width: 50%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

@keyframes moving {
  from {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    opacity: 1;
  }
}
